/* FontAwesome Start */
@import "../../../Styles/FontAwesome/_rock-fa-mixins.less";
/* FontAwesome End */

.container {
  @media (min-width: @screen-xl-min) {
    width: @container-xl;
  }
}
.btn {
	text-transform: uppercase;
	line-height: 1em;
}